header {
  background: rgb(36, 66, 85);
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  width: 70%;
  margin: auto;
  height: 70px;
  padding: 1.5em;
  margin-bottom: 20px;
}

h1 {
  position: relative;
  margin: auto;
  top: 5px;
  font-size: 50px;
}

body {
  background: whitesmoke;
  text-align: center;
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  color: darkgray;
}

li {
  list-style-type: none;
  color: rgb(78, 78, 78);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
}

input {
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
}

.btn {
  color: black;
  border: 2px solid black;
  background-color: white;
  font-size: 18px;
  padding: 2px 10px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
  display: inline-block;
  margin: 5px;
}

.btn:hover {
  color: whitesmoke;
  background-color: rgb(87, 87, 87);
}

ul {
  width: 60%;
  margin: auto;
}

#remove-btn {
  position: absolute;
}

#delbtn {
  position: relative;
  right: 1em;
  float: right;
}

div.input {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  width: 20%;
  padding: 1em;
}
