header {
  background: lightskyblue;
  color: white;
  font-family: "Pridi", serif;
}

body {
  background: whitesmoke;
  text-align: center;
  position: relative;
  font-family: "Pridi", serif;
  color: darkgray;
}

li {
  list-style-type: none;
  color: darkgray;
  font-family: "Pridi", serif;
}

input {
  color: black;
  border: 2px solid black;
  padding: 4px;
}

.btn {
  color: black;
  border: 2px solid black;
  background-color: white;
  font-family: "Pridi", serif;
  font-size: 15px;
  padding: 3px 10px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
  display: inline-block;
}

.btn:hover {
  color: whitesmoke;
  background-color: rgb(87, 87, 87);
}
