* {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(36, 66, 85);
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  width: 70%;
  margin: auto;
  height: 70px;
  padding: 1.5em;
  margin-bottom: 20px;
}

h1 {
  position: relative;
  margin: auto;
  top: 5px;
  font-size: 50px;
}

body {
  background: whitesmoke;
  text-align: center;
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  color: darkgray;
}

div {
  padding: 0.1em;
  margin: 0em;
}

li {
  list-style-type: none;
  color: rgb(78, 78, 78);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
  font-weight: bold;
  margin: 20px;
  padding: 5px 30px 5px 5px;
  border-style: solid;
  word-wrap: break-word;
}

input {
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: large;
  font-weight: bold;
  width: 45%;
  margin: 0px;
}

#main-div-id {
  padding: 0em 3em;
}

#input-div-id {
  padding: 0em 4em;
}

.add-btn-class {
  color: black;
  border: 2px solid black;
  background-color: white;
  font-size: 18px;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  margin-left: 4px;
  position: absolute;
}

.add-btn-class:hover {
  color: whitesmoke;
  background-color: rgb(87, 87, 87);
  transition-duration: 0.3s;
}

ul {
  width: 60%;
  margin: auto;
}

#del-btn-id {
  position: relative;
  right: -1.1em;
  float: right;
  padding: 0px;
  margin-top: -24px;
}

.material-icons {
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
}
