* {
  margin: 0;
  padding: 0;
}

header {
  color: black;
  font-family: 'Roboto', sans-serif;
  width: 70%;
  margin: auto;
  height: 70px;
  padding: 1.5em;
  margin-bottom: 20px;
}

h1 {
  top: 5px;
  font-size: 70px;
}

h3 {
  top: 5px;
  font-size: 20px;
}

body {
  background: white;
  text-align: center;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#main-div-id {
  padding: 0em 3em;
}

#input-div-id {
  padding: 0em;
  margin: 0em;
  text-align: center;
  width: 91%;
}

/* .add-btn-class {
  color: black;
  border: 2px solid black;
  background-color: white;
  font-size: 18px;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  margin-left: 4px;
  position: absolute;
} */

#input-id {
  border: 2px solid black;
  padding: 5px 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  width: 80%;
  margin: 0px;
  display: inline-block;
  background-color: rgb(248, 248, 248);
}

#add-btn-id {
  color: black;
  border: 2px solid black;
  background-color: white;
  font-size: 18px;
  padding: 7px 10px 3px 4px;
  cursor: pointer;
  margin-left: 4px;
  position: absolute;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 248, 248);
}

.add-btn-class:hover {
  color: whitesmoke;
  background-color: rgb(87, 87, 87);
  transition-duration: 0.3s;
}

ul {
  width: 60%;
  margin: auto;
}

li {
  list-style-type: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 20px;
  padding: 5px 30px 5px 5px;
  border-style: solid;
  border-radius: 0px;
  word-wrap: break-word;
}

#del-btn-id {
  position: relative;
  right: -1.1em;
  float: right;
  padding: 0px;
  margin-top: -22px;
}

.material-icons {
  border: none;
  background-color: white;
  cursor: pointer;
}
